{% extends 'base.html' %}

{% block content %}
  <h2>Locations</h2>
  <a href="{% url 'location-create' %}" class="btn btn-primary">Add New Location</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for location in object_list %}
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.latitude }}</td>
          <td>{{ location.longitude }}</td>
          <td>{{ location.address }}</td>
          <td>{{ location.city }}</td>
          <td>{{ location.country }}</td>
          <td>
            <a href="{% url 'location-update' location.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'location-delete' location.pk %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
